img {
  display: block;
  margin: auto;
  color: white
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color:  white
}
h2 {
  text-align: center;
  font-family: sans-serif;
  color:  white
}
p {font-family: sans-serif;
color:  white
}
